@media screen and (max-width: 600px) {
  .MainFourthFloor .FourthFloor h2 {
    font-size: 20px;
  }
  .MainFourthFloor .FourthFloor .FourthFloorcontainer {
    margin-top: 10px;
    width: 320px;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 100px 100px;
    grid-template-areas:
      'map'
      'rooms';
  }
}

.FourthFloor h2 {
  color: rgb(52, 52, 52);
  font-size: 25px;
}

.MainFourthFloor {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.FourthFloorcontainer {
  margin-top: 10px;
  width: 520px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    'map '
    'rooms';
}

.FourthFloorMap {
  grid-area: map;
}

.RoomContainer {
  margin-top: 10px;
  grid-area: rooms;
}
