.wrap {
    width: 100vw;
}

#bookingBox {
    width: 90%;
    margin: auto;
}

tr {
    table-layout: fixed;
    text-align: center;
    font-size: 1.2vw;
}

td {
    text-align: center;
    font-size: 1.2vw;
}

.cancel {
    width: 80px;
    height: 25px;
    font-size: 1.2vw;
    color: #D46B42;
    background-color: white;
    border: none;
}
.cancel:hover{
    font-weight: bold;
    color: tomato;
}