@media screen and (max-width: 700px) {
    body .wrap .box {
        margin-top: 50px;
        width: 100%;
        padding: 10px;
    }
    .wrap .box .title{
        font-size: 18px;
    }
    .wrap .box .file{
        margin-top: 30px;
        height: 60px;
        font-size: 13px;
        padding: 10px;
    }
    .wrap .box .file .file_span{
        font-size: 13px;
    }
    .wrap .box .upload_btn{
        width: 70px;
        height: 27px;
    }
    .wrap .box .content_btn{
        width: 70px;
        height: 27px;
    }
  }

.wrap {
    width: 100vw;
}

.wrap .box {
    margin: 100px auto;
    padding: 50px;
    /* border: 1px solid black; */
    width: 700px;

}

.title {
    font-size: 24px;
    color: #2090ff;
}

.line {
    width: 100%;
}

.file{
    margin-top: 30px;
    width: 100%;
    height: 70px;
    padding: 5px;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 18px;
}

.file_span{
    color: #2090ff;
    font-size: 16px;
}

.input {
    margin-top: 30px;
    width: 100%;
    border: 1px solid gainsboro;
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.03),
    0px 15px 12px rgba(0, 0, 0, 0.1);
}

.upload_btn {
    margin-top: 20px;
    width: 70px;
    height: 30px;
    background-color: white;
    color: #2090ff;
    border: 2px solid #2090ff;
    border-radius: 10px;
    float: right;
}
.upload_btn:hover{
    background-color: #2090ff;
    color: white;
    border: 2px solid #2090ff;
}

.content_btn {
    margin-top: 20px;
    margin-right: 10px;
    width: 70px;
    height: 30px;
    background-color: white;
    color: rgb(93, 168, 226);
    border: 2px solid rgb(93, 168, 226);
    border-radius: 10px;
    float: right;
}
.content_btn:hover{
    background-color: rgb(93, 168, 226);
    color: white;
    border: 2px solid rgb(93, 168, 226);
}