@media screen and (max-width: 600px) {
  #table #thead #theadTr #text {
    font-size: 7px;
  }
  #table #tbody #tbodyTr .time {
    font-size: 7px;
  }
  #table #tbody #tbodyTr .roomstate .booking1Time {
    height: 32.5px;
    width: 17%;
    font-size: 5px;
    padding: 6px 8px 2px 8px;
  }
  #table #tbody #tbodyTr .roomstate .booking2Time {
    height: 65px;
    width: 17%;
    font-size: 8px;
    padding: 8px;
  }
  #table #tbody #tbodyTr .roomstate .booking3Time {
    height: 97.5px;
    width: 17%;
    font-size: 8px;
    padding: 8px;
  }
  #table {
    width: 80vw;
  }
}

#table th {
  font-size: 12px;
  padding: 5px auto;
  text-align: center;
}

#time {
  width: 50px;
}

#tbodyTr {
  position: relative;
}
#tbodyTr .time {
  position: relative;
}
#tbodyTr .time .roomstate {
  position: relative;
}
.booking1Time {
  position: absolute;
  top: 0%;
  height: 35px;
  width: 18%;
  margin-left: 0.5vw;
  background-color: #74b8fc;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.booking2Time {
  position: absolute;
  top: 0%;
  height: 70px;
  width: 18%;
  margin-left: 0.5vw;
  background-color: #74b8fc;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.booking3Time {
  position: absolute;
  top: 0%;
  height: 105px;
  width: 18%;
  margin-left: 0.5vw;
  background-color: #74b8fc;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

#text {
  width: 100px;
}
