@media screen and (max-width: 600px) {
  #table #thead #theadTr #text {
    font-size: 10px;
    padding: 8px 4px;
    word-break: break-all;
    white-space: break-spaces;
  }

  #table #tbody #tbodyTr .time {
    height: 36px;
    font-size: 10px;
    padding: 8px 2px;
  }
  #table #tbody #tbodyTr .roomstate .bookingTime {
    border-radius: 2px;
    padding: 6px 8px 2px 8px;
  }
  #table #tbody #tbodyTr .roomstate .bookingTime p {
    font-size: 10px;
    word-break: normal;
    white-space: break-spaces;
    /* margin-left: 0.5px;
    margin-right: 0.5px; */
  }
  #table {
    width: 80vw;
  }
}

#table th {
  font-size: 12px;
  padding: 5px auto;
  text-align: center;
}

#time {
  width: 50px;
}

#tbodyTr .roomstate {
  position: relative;
}
.bookingTime {
  position: absolute;
  top: 0%;
  transform: translateX(-0.5rem);
  width: 100%;
  background-color: #74b8fc;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  z-index: 1;
}

#text {
  width: 100px;
}

#Manager {
  background-color: rgb(128, 128, 128, 0.8);
}
