

#bookingBox {
    width: 900px;
    margin: auto;
}

tr {
    table-layout: fixed;
    text-align: center;
    font-size: 18px;
}

td {
    height: 25px;
    text-align: center;
    font-size: 18px;
}

.applicantCancel {
    width: 80px;
    height: 25px;
    font-size: 18px;
    color: #D46B42;
    background-color: white;
    border: none;
}
.applicantCancel:hover{
    font-weight: bold;
    color: tomato;
}
.memberCancel {
    width: 80px;
    height: 25px;
    font-size: 18px;
    color: #888;
    background-color: white;
    border: none;
}

.warning {
    margin-top: 20px;
    font-size: 16px;
    text-align: end;
    color: #D46B42;
}