/*mypage_bookingTable*/
@media screen and (max-width: 700px) {
 thead .tableTrTitle .tableTh {
    font-size: 10px;
    text-align: center;
 }
 tbody tr .tableTd {
    font-size: 10px;
 }
 div .warning .warning1 {
    font-size: 6px;
 }
 div .warning .warning2 {
    font-size: 6px;
 }
}

/* table title */
.tableTrtableTrTitle {
    table-layout: fixed;
    text-align: center;
    font-size: 18px;
}
.tableTh {
    text-align: center;
}

/* table content */
.tableTrContentPast {
    table-layout: fixed;
    text-align: center;
    font-size: 18px;
    background-color: #DCDCDC;
    opacity: 85%;
    border-bottom: 1px solid #888;
    color: #888;
}
.tableTrContent {
    table-layout: fixed;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #888;
}

/* table cancel button */
.applicantCancel {
    color: #D46B42;
    background-color:transparent;
    border: none;
}
.applicantCancel:hover{
    font-weight: bold;
    color: tomato;
}
.memberCancel {
    color: #888;
    background-color:transparent;
    border: none;
}
.managerCancel {
    color: #2090ff;
    background-color:transparent;
    border: none;
}

/* warning */
.warning {
    margin-top: 20px;
    text-align: end;
}
.warning1 {
    margin: 0px;
    font-size: 17px;
    color: #565656;
}
.warning2 {
    font-size: 17px;
    color: #565656;
}