@media screen and (max-width: 700px) {
    .container .userInfo {
        margin: 40px 0px;
        font-size: 13px;
    }
   }

.userInfo {
    margin: 100px 0px;
    text-align: center;
    font-size: 20px;
}  

.user_name {
    color : #3373CC;
    font-weight: bold;
}