.HeaderContainer {
  display: grid;
  grid-template-rows: 80px 40px;
  grid-template-areas:
    'Header'
    'menu';
}

.Header {
  grid-area: Header;
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  padding: 20px;
}

img {
  width: 100px;
  height: 38px;
  cursor: pointer;
}

.anker {
  font-size: 15px;
  color: rgb(90, 90, 90);
  font-weight: 600;
  cursor: pointer;
}

.anker a:first-child {
  padding-right: 18px;
}

.menu {
  grid-area: menu;
  background-color: rgb(193, 224, 249);
  display: flex;
  align-items: center;
}

.menu a {
  padding-left: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #2090ff;
  cursor: pointer;
  text-decoration: none;
}
