@media screen and (max-width: 600px) {
  .Container .mapContainer {
    font-size: 5px;
    font-weight: 500;
    gap: 5px;
    padding: 5px;
    line-height: 10px;
  }
}

.mapContainer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '내일Lounge 내일Lounge 협재 곽지 이호 함덕 김녕 월정 신양 space비양도'
    '내일Lounge 내일Lounge 하모 화순 중문 표선 NaBox1 NaBox2 NaBox3 space비양도'
    'space범섬 NaBox4 NaBox5 NaBox6 화장실 stair EV . Stair2 space우도'
    'space범섬 . . . 화장실 stair EV . Stair2 space우도';
  height: 100%;
  font-size: 6px;
  column-gap: 8px;
  row-gap: 8px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
}
.mapContainer div {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

#notSelect {
  background-color: rgb(192, 192, 192);
  cursor: default;
}

#MeetingRoom {
  background-color: #46a1fd;
}

#MeetingRoom:hover {
  background-color: rgb(73, 117, 144);
}

#NaBax {
  background-color: rgb(255, 163, 42);
  word-break: break-all;
  font-size: 11px;
  padding: 4px;
}

#NaBax:hover {
  background-color: rgb(156, 99, 0);
}

#full {
  background-color: rgb(97, 97, 97);
  cursor: not-allowed;
}

.Lounge {
  grid-area: 내일Lounge;
  cursor: pointer;
}

.협재 {
  grid-area: 협재;
  cursor: pointer;
}
.곽지 {
  grid-area: 곽지;
  cursor: pointer;
}
.이호 {
  grid-area: 이호;
  cursor: pointer;
}
.함덕 {
  grid-area: 함덕;
}
.김녕 {
  grid-area: 김녕;
}
.월정 {
  grid-area: 월정;
}
.신양 {
  grid-area: 신양;
}
.space비양도 {
  grid-area: space비양도;
  cursor: pointer;
}
.하모 {
  grid-area: 하모;
  cursor: pointer;
}
.화순 {
  grid-area: 화순;
  cursor: pointer;
}
.중문 {
  grid-area: 중문;
  cursor: pointer;
}
.표선 {
  grid-area: 표선;
  cursor: pointer;
}
.NaBox1 {
  grid-area: NaBox1;
  cursor: pointer;
}
.NaBox2 {
  grid-area: NaBox2;
  cursor: pointer;
}
.NaBox3 {
  grid-area: NaBox3;
  cursor: pointer;
}
.space범섬 {
  grid-area: space범섬;
  cursor: pointer;
}
.NaBox4 {
  grid-area: NaBox4;
  cursor: pointer;
}
.NaBox5 {
  grid-area: NaBox5;
  cursor: pointer;
}
.NaBox6 {
  grid-area: NaBox6;
  cursor: pointer;
}
.blank {
  grid-area: blank;
  cursor: pointer;
}
.화장실 {
  grid-area: 화장실;
  cursor: pointer;
}
.stair {
  grid-area: stair;
  cursor: pointer;
}
.EV {
  grid-area: EV;
  cursor: pointer;
}
.blank2 {
  grid-area: blank2;
  cursor: pointer;
}
.Stair2 {
  grid-area: Stair2;
  cursor: pointer;
}
.space우도 {
  grid-area: space우도;
  cursor: pointer;
}
