@media screen and (max-width: 700px) {
    body .wrap {
            width: 350px;
        }
    }

.wrap {
    width: 850px;
    margin: auto;
    display: flex;
    column-gap: 5px;
    margin-top: 50px;
}
.box {
    border-radius: 3px;
    border: 2px solid #46a1fd;
    border-bottom: none;
    background-color: #46a1fd;
    opacity: 88%;

}

.boxNabox {
    border-radius: 3px;
    border: 2px solid rgb(255, 163, 42);
    border-bottom: none;
    background-color: rgb(255, 163, 42);
    opacity: 88%;
  }

.toggle {
    font-size: 14px;
    color: white;
}