@media screen and (max-width: 700px) {
    body .wrap .box {
        margin-top: 50px;
        width: 100%;
        padding: 10px;
    }
    .wrap .box .title{
        font-size: 18px;
    }
    .wrap .box .file{
        margin-top: 30px;
        font-size: 14px;
        padding: 10px;
    }
    .wrap .box .table_box{
        font-size: 14px;
    }
    .wrap .box .btn{
        width: 70px;
        height: 27px;
        padding-top: 2px;
    }
}

.wrap {
    width: 100vw;
    height: 75vh;
}

.wrap .box {
    margin: 100px auto;
    padding: 50px;
    /* border: 1px solid black; */
    width: 700px;
}

.title {
    font-size: 24px;
    color: #2090ff;
}

.line {
    width: 100%;
}

.file{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 18px;
}

.table_box {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

.classe {
    margin: auto;
    width: 60px;
    height: 30px;
}

.select_floor {
    width: 70px;
    height: 30px;
    text-align: center;
}

select > .option_difault{
    background-color: #2090ff;
}

.btn {
    width: 70px;
    height: 35px;
    background-color: white;
    color: #2090ff;
    border: 2px solid #2090ff;
    border-radius: 10px;
}
.btn:hover{
    background-color: #2090ff;
    color: white;
    border: 2px solid #2090ff;
}