@media screen and (max-width: 700px) {
  div .bookPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 360px;
    
  }
}

.bookPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  border-top: 2px solid #46a1fd;
  width:900px;
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
}

  /*BookPage에 크게 Roominfo와 bookingInfo로 css가 나뉨
  Roominfo에 룸정보가 전체들어가고
  bookingInfo에는 컴포넌트가 크게 멤버, 타임테이블, 예약버튼으로 나뉨
  */

.bookingInfo_wrap {
  padding: 10px;
  width: 350px;
  margin: auto;
}

