/* Info */
@media screen and (max-width: 800px){
  .infoBox .list p input {
    width: 60%;
  }
  .infoBox .list p select {
    width: 60%;
  }
  .infoBox .list form .membersBox .membersName {
    position: relative;
    top: -10px;
    left: -5px;
    width: 50px;
    height: 20px;
    margin: 0px 0px 10px 3px;
  }
}

.infoBox {
  /* 회의실 이름, 사진, 정보 열 전체 넓이 */
  width: 100%;
}

.list {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2vw;
  text-align: center;
}
.userName {
  width: 15vw;
  height: 3vh;
  margin-left: 20px;
}

.purpose {
  width: 15vw;
  height: 3vh;
  margin-left: 20px;
  text-align: center;
}

.teamMembers {
  width: 15vw;
  height: 3vh;
  margin-left: 20px;
  text-align: center;
}

.membersBox {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(4, 1fr);
}
.membersName {
  background-color: white;
  border: 1px solid #B1D8FB;
  border-radius: 50px;
  width: 68px;
  height: 3.5vh;
  justify-content: center;
  margin: 5px 0px 10px 10px;
  font-size: 1vw;
  color: #528FC4;
}
