/* RoomImg */
@media screen and (max-width: 700px) {
  div .roomName {
    margin-top: 0px;
    font-size: 15px;
  }
  div .room_img {
    width: 70%;
    height: 70%;
  }
}

.roomName {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.room_img {
  display: block;
  margin: auto;
  width: 65%;
  height: 220px;
  border-radius: 10px;
  border: 2px solid #D9DDDC;
}