/* Booking */
@media screen and (max-width: 700px) {
    .wrap .timeTable {
        width: 80%;
        padding: 0px 10px;
    }
    .wrap .timeTable .title {
        padding: 5px;
        margin-top: 0px;
        text-align: start;
        margin-left: 8px;
    }
    .wrap .timeTable .btnBox {
        width: 90%;
    }
    .wrap .timeTable .text {
        margin: 2px 0px;
    }
    .wrap .timeTable .btnBox button {
        width: 50px;
    }
    .wrap .bookbtn {
        width: 110px;
        margin-top: 30px;
        text-align: center;
    }
}

.wrap {
    width: 100%;
}

/* timetable */
.timeTable {
    /* border: 2px solid #D9DDDC; */
    width: 65%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.title {
    font-size: 1.2vw;
}

.text {
    font-weight: bold;
    font-size: 1.1vw;
    margin: 5px 0px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #353535;
}
.text::before,
.text::after {
content: "";
flex-grow: 1;
background: rgba(0, 0, 0, 0.35);
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 16px;
}

.btnBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 2px;
}
.btnBox > button {
    margin: 5px auto;
    width: 6vw; /* 70px */
    border: 1.5px solid #67b4f8;
    border-radius: 3px;
    padding: 2px;
    font-size: 1vw;
    background-color: #B1D8FB;
    text-align: center;
}

/*booking button */
.bookbtn {
    background-color: #67b4f8;
    cursor: pointer;
    width: 15vw;
    height: 4vh;
    color: whitesmoke;
    border: 0px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 1em;
}